# API
API_KEY=your-api-key-secret

# DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/tinnova_challenge
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost:5432/tinnova_challenge

# JWT
JWT_SECRET=supersecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# REDIS
REDIS_URL=redis://localhost:6379

# Email policy
EMAIL_ALLOW_DOMAINS=
EMAIL_BLOCK_DOMAINS=mailinator.com,10minutemail.com,guerrillamail.com
EMAIL_REQUIRE_MX=false

# Password policy
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_UPPER=true
PASSWORD_REQUIRE_LOWER=true
PASSWORD_REQUIRE_DIGIT=true
PASSWORD_REQUIRE_SPECIAL=true
PASSWORD_SPECIAL_CHARS=!@#$%^&*(),.?":{}|<>

# Rate limit login
LOGIN_RATE_LIMIT_MAX_ATTEMPTS=10
LOGIN_RATE_LIMIT_WINDOW_SECONDS=60
LOGIN_RATE_LIMIT_BLOCK_SECONDS=300
